/* smooth scrolling */
html {
  scroll-behavior: smooth!important;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Roboto Condensed", sans-serif;
}

.bar, h1, button {
  font-family: "Roboto Mono", sans-serif;
}

/* links */
a {
  text-decoration: none;
  background-color: transparent;
}

a:active, a:hover {
  text-decoration: dotted underline;
  outline-width: 0;
}

/* for underlining links */
.underline {
  text-decoration: underline;
}
