/* smooth scrolling */
html {
  scroll-behavior: smooth !important;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Roboto Condensed", sans-serif;
}

.bar, h1, button {
  font-family: "Roboto Mono", sans-serif;
}

/* links */
a {
  text-decoration: none;
  background-color: transparent;
  color: #7542cf;
}

a:visited {
  color: #772ff7 !important;
}

a:active, a:hover {
  text-decoration: dotted underline;
  background-color: transparent;
  color: #009688 !important;
  outline-width: 0;
}

/* for underlining links */
.underline-link, .underline {
  text-decoration: underline;
}

/* for hiding links */
.hidden-link {
  color: #000000 !important;
}
